<div class="Settings inline-flex flex-col items-start justify-start bg-white">
  <div class="<-Action Bar (White) inline-flex space-x-20 items-center justify-start w-full h-14 p-2 bg-white">
      <div class="<- flex items-center justify-center w-10 h-full p-2 rounded-full">
          <img class="Icon flex-1 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
      </div>
      <p class="Title text-xl font-medium text-black text-opacity-90">Ajustes</p>
      <div class="actions flex items-center justify-start">
  </div>
  <div class="ContentArea flex flex-col items-start justify-start w-full bg-white">
      <div class="ListItem Group - Subtitle flex flex-col items-start justify-start w-full pt-4 pb-2 shadow">
          <div class="Subtitle inline-flex items-center justify-start w-full flex-1 pl-4">
              <p class="Label text-sm leading-tight text-black text-opacity-60">General</p>
          </div>
      </div>
      <div class="SearchField flex flex-col space-y-1 items-start justify-start">
          <p class="✏️label w-full text-base leading-normal text-gray-700">Idioma</p>
          <div class="InputGroup flex flex-col items-start justify-start w-full">
              <div class="Input inline-flex space-x-2.5 items-center justify-center w-full pl-3 border rounded border-gray-400">
                  <p class="Placeholder flex-1 text-base leading-tight text-gray-500">Buscar idioma</p>
                  <div class="Button flex space-x-2.5 items-center justify-center px-4 py-2 border rounded-tr rounded-br border-gray-400">
                      <div class="ButtonIcon flex-1 h-full rounded-full">
                          <img class="ButtonIcon flex-1 h-full rounded-full" src="https://via.placeholder.com/16x16"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="Divider flex flex-col items-center justify-center w-full p-4 bg-white">
          <div class="lineseparator w-full flex-1 bg-black bg-opacity-10">
      </div>
      <div class="ListItem Group - Subtitle flex flex-col items-start justify-start w-full pt-4 pb-2 shadow">
          <div class="Subtitle inline-flex items-center justify-start w-full flex-1 pl-4">
              <p class="Label text-sm leading-tight text-black text-opacity-60">Features</p>
          </div>
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-center justify-start w-full p-4 bg-white">
          <img class="notification w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">Modo Oscuro</p>
          <div class="secondaryaction relative w-6 h-full">
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-center justify-start w-full p-4 bg-white">
          <img class="notification w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">Modo para daltónicos</p>
          <div class="secondaryaction relative w-6 h-full">
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-center justify-start w-full p-4 bg-white">
          <img class="notification w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">Ayudas para la accesibilidad</p>
          <div class="secondaryaction relative w-6 h-full">
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-center justify-start w-full p-4 bg-white">
          <img class="notification w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">publicidad</p>
          <div class="secondaryaction relative w-6 h-full">
      </div>
      <div class="Divider flex flex-col items-center justify-center w-full p-4 bg-white">
          <div class="lineseparator w-full flex-1 bg-black bg-opacity-10">
      </div>
      <div class="ListItem Group - Subtitle flex flex-col items-start justify-start w-full pt-4 pb-2 shadow">
          <div class="Subtitle inline-flex items-center justify-start w-full flex-1 pl-4">
              <p class="Label text-sm leading-tight text-black text-opacity-60">Contactos y redes sociales</p>
          </div>
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-start justify-start w-full p-4 bg-white">
          <img class="info w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">Ley de protección de datos</p>
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-start justify-start w-full p-4 bg-white">
          <img class="link w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">@palabricks</p>
      </div>
      <div class="Single-lineitem inline-flex space-x-6 items-start justify-start w-full p-4 bg-white">
          <img class="link w-6 h-full rounded-lg" src="https://via.placeholder.com/24x24"/>
          <p class="Label flex-1 text-base leading-normal text-black text-opacity-90">Visit www.ui-kit.co</p>
      </div>
      <div class="ListItem Group - Subtitle flex flex-col items-start justify-start w-full py-4 shadow">
          <div class="Subtitle inline-flex items-center justify-start w-full flex-1 pl-4">
              <p class="Label text-sm leading-tight text-black text-opacity-90">Clear cache</p>
          </div>
      </div>
  </div>
</div>